name: Publish package to the Maven Central Repository and GitHub Packages
on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java for GitHub Packages
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          server-id: github
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN

      - name: Deploy to GitHub Packages
        run: mvn --batch-mode deploy -Pgithub
        env:
          GITHUB_TOKEN: ${{ secrets.THYMELEAF_UI_FRAGMENTS_GITHUB_TOKEN }}
